name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle
      
    - name: Set up Android SDK
      uses: actions/setup-android-sdk@v2
      with:
        sdk-version: '31.0.0'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      env:
        ANDROID_HOME: ${{ env.ANDROID_SDK_ROOT }}
      run: ./gradlew build
    - name: Run Unit Tests
      run: ./gradlew test
